.flagContainer {
  width: 100%;
  overflow: hidden;
  position: relative;
}

.flag {
  width: 200%;
  height: 200px;
  background: linear-gradient(
    to right,
    #e40303 16.66%,
    #ff8c00 16.66%,
    #ff8c00 33.32%,
    #ffed00 33.32%,
    #ffed00 49.98%,
    #008026 49.98%,
    #008026 66.64%,
    #004dff 66.64%,
    #004dff 83.3%,
    #750787 83.3%,
    #750787 100%
  );
  background-size: cover;
  position: absolute;
  top: 0;
  left: 0;
  animation: moveFlag 10s linear infinite;
}

@keyframes moveFlag {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-50%);
  }
}
